:root {
    --global-background: hsl(0, 0%, 100%);
    --global-foreground: hsl(0, 0%, 0%);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --global-background: hsl(0, 0%, 0%);
        --global-foreground: hsl(0, 0%, 100%);
    }
}

:root[data-theme="dark"] {
    --global-background: hsl(0, 0%, 0%);
    --global-foreground: hsl(0, 0%, 100%);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    background-color: var(--global-background);
    color: var(--global-foreground);
}

body {
    display: grid;
    grid-template: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3em;
}

button {
    font-size: inherit;
}
