:root {
    --bg-color: white;
    --text-color: black;
    --dark-bg-color: black;
    --dark-text-color: white;
    --radius: 0.2em;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --bg-color: var(--dark-bg-color);
        --text-color: var(--dark-text-color);
    }
}

:root[data-theme="dark"] {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    display: grid;
    grid-template: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3em;
}

.radiogroup--toggle {
    display: flex;
    align-items: center;
    justify-items: center;
    background: whitesmoke;
    border-radius: var(--radius);
    padding: 0.2em;
}

.radiogroup--toggle input {
    display: none;
}

.radiogroup--toggle label {
    display: flex;
    justify-content: center;
    color: black;
    padding: 0.2em;
    width: 4em;
    cursor: pointer;
}

.radiogroup--toggle input[type="radio"]:checked + label {
    background: white;
    border-radius: var(--radius);
}

.radiogroup--toggle img {
    display: flex;
    width: 1.4em;
    height: 1.4em;
}
