:root {
    --bg-color: white;
    --text-color: black;
    --dark-bg-color: black;
    --dark-text-color: white;
    --radius: 0.2em;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --bg-color: var(--dark-bg-color);
        --text-color: var(--dark-text-color);
    }
}

:root[data-theme="dark"] {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    display: grid;
    grid-template: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3em;
}

.buttons-group {
    display: flex;
    align-items: center;
    background: whitesmoke;
    padding: 0.2em;
    border-radius: var(--radius);
}

.buttons-group button {
    background: none;
    border: 0;
    font-size: inherit;
    padding: 0;
    width: 5em;
    height: 2.4em;
    border-radius: var(--radius);
}

.buttons-group button:hover {
    background: white;
    cursor: pointer;
}

.buttons-group button:focus {
    outline: none;
}

.buttons-group button img {
    width: 1.5em;
    height: 1.5em;
}
